sensor/flows.json
[{"id":"ec1802fc.8c341","type":"tab","label":"Read humidity"},{"id":"26da7450.4e8a4c","type":"debug","z":"ec1802fc.8c341","name":"","active":true,"console":"false","complete":"payload","x":1052,"y":83,"wires":[]},{"id":"3e0ba97d.493476","type":"inject","z":"ec1802fc.8c341","name":"","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":true,"x":119,"y":110,"wires":[["a082f32d.c9d9e"]]},{"id":"a082f32d.c9d9e","type":"python-function","z":"ec1802fc.8c341","name":"Get Moisture value","func":"import explorerhat\n\nmsg = explorerhat.analog.one.read()\nreturn msg","outputs":1,"x":309.5,"y":105,"wires":[["c680c4fb.97b708"]]},{"id":"c680c4fb.97b708","type":"function","z":"ec1802fc.8c341","name":"Parse min max","func":"var min = 1.275;\nvar max = 2.950;\n\nvar input = msg;\n\nvalue = 1 - (input - min)  / (max - min);\nvar quality = \"good\";\nif (value < 0 || value > 1)\n   quality = 'bad'\n   \n   \nmsg = {\n    payload:{\n        min:min,\n        max:max,\n        input:input,\n        value:value,\n        quality:quality\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":541.5,"y":111,"wires":[["26da7450.4e8a4c","591ed61.beca828"]]},{"id":"6df5859b.4b74ec","type":"http request","z":"ec1802fc.8c341","name":"","method":"POST","ret":"txt","url":"http://192.168.1.2:8086/write?db=smartGarden","tls":"","x":881.5,"y":130,"wires":[["26da7450.4e8a4c"]]},{"id":"591ed61.beca828","type":"function","z":"ec1802fc.8c341","name":"Prepare post","func":"msg.payload = \"humidity,sensor=sensor01 value=\" + msg.payload.value\nreturn msg;","outputs":1,"noerr":0,"x":715.5,"y":128,"wires":[["6df5859b.4b74ec"]]}]