sensor/flows.json
[{"id":"ec1802fc.8c341","type":"tab","label":"Read humidity"},{"id":"26da7450.4e8a4c","type":"debug","z":"ec1802fc.8c341","name":"","active":true,"console":"false","complete":"payload","x":741,"y":114,"wires":[]},{"id":"3e0ba97d.493476","type":"inject","z":"ec1802fc.8c341","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":119,"y":110,"wires":[["a082f32d.c9d9e"]]},{"id":"a082f32d.c9d9e","type":"python-function","z":"ec1802fc.8c341","name":"Get Moisture value","func":"import explorerhat\n\nmsg = explorerhat.analog.one.read()\nreturn msg","outputs":1,"x":309.5,"y":105,"wires":[["c680c4fb.97b708"]]},{"id":"c680c4fb.97b708","type":"function","z":"ec1802fc.8c341","name":"Parse min max","func":"var min = global.get('humidityMin') || 9999999;\nvar max = global.get('humidityMax') || 0;\n\nvar input = msg;\nif (input < min){\n  min = input;\n  global.set('humidityMin',min)\n}\nif (input > max){\n  max = input;\n  global.set('humidityMax',max)\n}\n\nvalue = input / (max - min);\n  \nmsg = {\n    payload:{\n        min:min,\n        max:max,\n        input:input,\n        value:value\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":541.5,"y":111,"wires":[["26da7450.4e8a4c"]]}]